.header-custom {
  background-image: url('../assets/pokefondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 300px; 
  background-color: #1e3a8a;
  height: 200px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.background-container img {
  width: 800px; 
  height: 200px; 
  object-fit: fill;
}

.main-logo {
  position: relative;
  z-index: 1;
  height: 120px;
  width: auto;
  margin-left: 2rem;
}